{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golden Retriever Information</title>
    <link rel="stylesheet" type="text/css" href="{% static 'goldenretriever.css'%}">
    <script>
        function addItemAndRedirect() {
            // Redirect to the payment option page
            window.location.href = "{% url 'payment' %}"; // Use Django's URL template tag to generate the URL
        }
    </script>
</head>
<body>
    <h1>Golden Retriever Information</h1>

    <ul>
        <li><strong>Name:</strong> Golden Retriever</li>
        <li><strong>Age:</strong> Varies</li>
        <li><strong>Lifespan:</strong> 10-12 years</li>
        <li><strong>Height:</strong> 22-24 inches (male), 20-22 inches (female)</li>
        <li><strong>Weight:</strong> 65-75 pounds (male), 55-65 pounds (female)</li>
        <li><strong>Color:</strong> Various shades of gold</li>
    </ul>
<button class="add-button" onclick="addItemAndRedirect()">Adopt</button>
</body>
</html>
