{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Husky Information</title>
    <link rel="stylesheet" type="text/css" href="{% static 'husky.css'%}">
    <script>
        function addItemAndRedirect() {
            // Redirect to the payment option page
            window.location.href = "{% url 'payment' %}"; // Use Django's URL template tag to generate the URL
        }
    </script>
</head>
<body>
    <h1>Husky Information</h1>


    <ul>
        <li><strong>Name:</strong> Siberian Husky</li>
        <li><strong>Age:</strong> Varies</li>
        <li><strong>Lifespan:</strong> 12-14 years</li>
        <li><strong>Height:</strong> 20-24 inches (male), 18-20 inches (female)</li>
        <li><strong>Weight:</strong> 45-60 pounds (male), 35-50 pounds (female)</li>
        <li><strong>Color:</strong> Various, including black, gray, and white</li>
    </ul>
<button class="add-button" onclick="addItemAndRedirect()">Adopt</button>
</body>
</html>
