{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'peterbald.css' %}">
</head>
<body>
    <h1>Peterbald</h1>
    <h2>Eastern Breeds</h2>
    <p>
        Peterbalds are extremely loyal cats with a sweet and affectionate nature. Known for playing “host” to guests in the home, they get along just as well with strangers as they do with the children, pets, and other family members in their home.
    </p>
    <h2>Main Info</h2>
    <ul>
        <li><strong>Origin:</strong> Russia</li>
        <li><strong>Coat Pattern:</strong> Variety of patterns</li>
        <li><strong>Coat Length:</strong> Shorthair (bald, flock or chamois, velour, brush, or straight)</li>
        <li><strong>Health Issues:</strong>
            <ul>
                <li>No strongly associated genetic conditions</li>
            </ul>
        </li>
    </ul>
<button class="add-button" onclick="addItemAndRedirect()">Adopt</button>
</body>
</html>
